/* label.css */

.label {
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  line-height: 1; /* leading-none */
}

/* When the peer (usually an input) is disabled */
.peer-disabled\:cursor-not-allowed:disabled ~ &,
.peer-disabled\:cursor-not-allowed:disabled + & {
  cursor: not-allowed;
}

.peer-disabled\:opacity-70:disabled ~ &,
.peer-disabled\:opacity-70:disabled + & {
  opacity: 0.7;
}
