.progress-root {
  position: relative;
  height: 1rem; /* h-4 = 16px */
  width: 100%;
  overflow: hidden;
  border-radius: 9999px; /* rounded-full */
  background-color: var(--secondary);
}

.progress-indicator {
  height: 100%;
  flex: 1 1 auto;
  background-color: var(--primary);
  transition: all 0.3s ease;
  transform-origin: left center;
}
